@model Jobe_Offers_WebSite.Models.ApplyForJob

@{
    ViewBag.Title = "DetailsOfJob";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>DetailsOfJob</h2>

<div>
    <h4>الوظيفة</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.job.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.JobTitle)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Message)*@
            نص الرسالة
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ApplyDate)*@
            تاريخ الإرسال
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplyDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعدبل", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("العودة إلى القائمة", "GetJobsByUser")
</p>
